<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.LiulangchongwuMapper">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Liulangchongwu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mingzi" jdbcType="VARCHAR" property="mingzi" />
    <result column="tupian" jdbcType="VARCHAR" property="tupian" />
    <result column="jieshao" jdbcType="VARCHAR" property="jieshao" />
    <result column="zhuyi" jdbcType="VARCHAR" property="zhuyi" />
    <result column="leibie" jdbcType="VARCHAR" property="leibie" />
    <result column="leibieid" jdbcType="INTEGER" property="leibieid" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mingzi, tupian, jieshao, zhuyi, leibie, leibieid, state
  </sql>
  <select id="selectByExample" parameterType="org.spring.springboot.domain.LiulangchongwuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_liulangchongwu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_liulangchongwu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_liulangchongwu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.spring.springboot.domain.LiulangchongwuExample">
    delete from t_liulangchongwu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.Liulangchongwu">
    insert into t_liulangchongwu (id, mingzi, tupian, 
      jieshao, zhuyi, leibie, 
      leibieid, state)
    values (#{id,jdbcType=INTEGER}, #{mingzi,jdbcType=VARCHAR}, #{tupian,jdbcType=VARCHAR}, 
      #{jieshao,jdbcType=VARCHAR}, #{zhuyi,jdbcType=VARCHAR}, #{leibie,jdbcType=VARCHAR}, 
      #{leibieid,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.Liulangchongwu">
    insert into t_liulangchongwu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mingzi != null">
        mingzi,
      </if>
      <if test="tupian != null">
        tupian,
      </if>
      <if test="jieshao != null">
        jieshao,
      </if>
      <if test="zhuyi != null">
        zhuyi,
      </if>
      <if test="leibie != null">
        leibie,
      </if>
      <if test="leibieid != null">
        leibieid,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mingzi != null">
        #{mingzi,jdbcType=VARCHAR},
      </if>
      <if test="tupian != null">
        #{tupian,jdbcType=VARCHAR},
      </if>
      <if test="jieshao != null">
        #{jieshao,jdbcType=VARCHAR},
      </if>
      <if test="zhuyi != null">
        #{zhuyi,jdbcType=VARCHAR},
      </if>
      <if test="leibie != null">
        #{leibie,jdbcType=VARCHAR},
      </if>
      <if test="leibieid != null">
        #{leibieid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.spring.springboot.domain.LiulangchongwuExample" resultType="java.lang.Long">
    select count(*) from t_liulangchongwu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_liulangchongwu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mingzi != null">
        mingzi = #{record.mingzi,jdbcType=VARCHAR},
      </if>
      <if test="record.tupian != null">
        tupian = #{record.tupian,jdbcType=VARCHAR},
      </if>
      <if test="record.jieshao != null">
        jieshao = #{record.jieshao,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuyi != null">
        zhuyi = #{record.zhuyi,jdbcType=VARCHAR},
      </if>
      <if test="record.leibie != null">
        leibie = #{record.leibie,jdbcType=VARCHAR},
      </if>
      <if test="record.leibieid != null">
        leibieid = #{record.leibieid,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_liulangchongwu
    set id = #{record.id,jdbcType=INTEGER},
      mingzi = #{record.mingzi,jdbcType=VARCHAR},
      tupian = #{record.tupian,jdbcType=VARCHAR},
      jieshao = #{record.jieshao,jdbcType=VARCHAR},
      zhuyi = #{record.zhuyi,jdbcType=VARCHAR},
      leibie = #{record.leibie,jdbcType=VARCHAR},
      leibieid = #{record.leibieid,jdbcType=INTEGER},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.Liulangchongwu">
    update t_liulangchongwu
    <set>
      <if test="mingzi != null">
        mingzi = #{mingzi,jdbcType=VARCHAR},
      </if>
      <if test="tupian != null">
        tupian = #{tupian,jdbcType=VARCHAR},
      </if>
      <if test="jieshao != null">
        jieshao = #{jieshao,jdbcType=VARCHAR},
      </if>
      <if test="zhuyi != null">
        zhuyi = #{zhuyi,jdbcType=VARCHAR},
      </if>
      <if test="leibie != null">
        leibie = #{leibie,jdbcType=VARCHAR},
      </if>
      <if test="leibieid != null">
        leibieid = #{leibieid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Liulangchongwu">
    update t_liulangchongwu
    set mingzi = #{mingzi,jdbcType=VARCHAR},
      tupian = #{tupian,jdbcType=VARCHAR},
      jieshao = #{jieshao,jdbcType=VARCHAR},
      zhuyi = #{zhuyi,jdbcType=VARCHAR},
      leibie = #{leibie,jdbcType=VARCHAR},
      leibieid = #{leibieid,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>